@model IEnumerable<habitapp.Models.Habit>

@{
    ViewData["Title"] = "Month View";

    var firstDayOfMonth = DateTime.Today.AddDays(-(int)DateTime.Today.Day + 1);
    var numberOfHabits = Model.Count();

}

<span class="d-flex align-items-center">
    <h1 class="me-4 display-6">Month View</h1> <a asp-action="Week">Week View</a>
</span>

<h3 class="fw-light">
    @DateTime.Today.ToString("MMMM yyyy")
</h3>

<div class="d-flex flex-wrap">
    @for (int i = 1; i <= ViewBag.days; i++)
    {
        var isToday = i == ViewBag.today.Day;
        var isAfterToday = i > ViewBag.today.Day;

        String style = "";

        var day = firstDayOfMonth.AddDays(i - 1);
        var numberOfCompletions = Model.Select((Habit habit) => habit.HasBeenCompletedOn(day)).Count(x => x);
        var completionPercentage = (float)numberOfCompletions / (float)numberOfHabits * 100f;

        if (isToday) {
            style = "bg-secondary text-white fw-bold";
        } else if (isAfterToday) {
            style = "border border-1 fw-light";

        } else {
            style = "border-1 border border-secondary fw-semibold";
        }

        <a asp-action="Month" asp-fragment="@i" style="width: 4em; height: 4em" class="m-1 rounded text-center fst-underline @style">
            <span class="fs-5">
                @i
            </span>
            <br>
            <span class="l-flex justify-content-center" hidden="@(isAfterToday)">
                
                <div class="mt-1 rounded border border-dark" style="width: 2em; height: 1em; margin: 0 auto; ">
                   <div class="rounded" style="background-color: lightgreen; width: @completionPercentage%; height: 100%"> </div> 
                </div>
                @* @numberOfCompletions/@numberOfHabits *@
            </span>
        </a>
    }
</div>