@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Habit App</h1>
  <p>
    Create, manage and track the habits you want to integrate into your life.
  </p>
  <p>
    Start by <a asp-controller="Habit" asp-action="Create">creating</a> the
    first habit that you would like to form.
  </p>
</div>


